<div class="row">
    <div class="col col-12">
        <h1><a href="index.html">Gallleryy</a></h1>
    </div>
    <div>Today: {{today | date : 'MMMM d, yyyy'}}</div>
    <div>Current time: <span my-current-time></span></div>
    <div id="circle" style="position:relative" my-clock></div>
    <div id="doodle" style="position:relative" my-doodle></div>
    <p>How many rotations for the blue one? <input type="text" ng-model="rotors[0].count"></p>
    <p>How many rotations for the red one? <input type="text" ng-model="rotors[1].count"></p>
</div>